<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ProjectKLib.Properties.Settings.VasiaShopConnectionString"
            connectionString="Data Source=LD-PC;Initial Catalog=VasiaShop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>